.video-bg-area{
    background-image:url(../img/img2.jpg);
    background-size:cover;
    background-position: center;
    background-color:#ddd;
}
.check-icon li:before{font-family:fontAwesome;content:"\f00c";}

.video-section {
    position: relative;
}

.video-bg-area {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 45%;
}

.vidoe-play-btn {
    position: absolute;
    right: -46px;
    top: 50%;
    width: 90px;
    height: 90px;
    background: green;
    color: #fff;
    line-height: 90px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    margin-top: -50px;
}

ul.check-icon {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    color: #666;
}



body {
    color: #9e9e9e;
}

.video-section h3 {
    color: #333;
}

.check-icon li {
    position: relative;
    padding-left: 32px;
    padding-bottom: 10px;
}

.check-icon li:before {
    position: absolute;
    left: 0;
    top: 0;
    color: green;
}